html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: antiquewhite;
}

main, header{
    width: 350px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
}


main {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}


/*header styling */

header{
    padding-bottom: 25px;
    margin-top: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}


.background {
    background-image: url(cheesePull.jpeg);
    background-position: center;
    height: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.background2 {
    background-image: url(cheesePull.jpeg);
    background-position: center;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}


.header-div {
    color: black;
    text-align: center;
}


/*menu styling */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: solid 1px grey;
    width: 100%;
}

.menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid grey;
    width: 100%;
}

.menu-content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.plus-container {
    flex-shrink: 0;
    
}

.fa-plus {
    font-size: 18px;
    border: 2px solid #ccc; 
    border-radius: 50%; 
    padding: 5px; 
    display: inline-block; 
    text-align: center; 
    
}

.fa-plus:hover {
    background-color: #ccc;
    color: white;
    cursor: pointer;
}

.emoji {
    font-size: 50px;
}

.item {
    font-weight: bold;
    font-size: 1.2rem;
}

.ingredients {
    font-weight: 300;
    font-size: 0.9rem;
    color: grey;
}


/* Order Styling */

.order {
    display: flex;
    margin-bottom: 10px;
}

.order-name {
    flex-grow: 2;
}

.order-name-remove {
    font-size: 0.6rem;
    color: grey;
}

.order-name-remove:hover {
    text-decoration: underline;
    cursor: pointer;
}

.complete-order {
    background-color: #34D399;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}